<nav class="navbar navbar-expand-sm navbar-dark bg-transpearnt ">
    <div class="container">
      <a class="navbar-brand fw-bold text-capitalize fs-4 " href="#"> <i class="fa-solid fa-note-sticky text-danger"></i> Note        </a>
      <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
           
            
              <li *ngIf="isLogin" class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-light" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>
                  <div class="dropdown-menu" aria-labelledby="dropdownId">
                      <a class="dropdown-item" href="#" routerLink="Register">Register</a>
                      <a class="dropdown-item" href="#" routerLink="login" >login </a>
                  </div>
              </li>
              <li>
                  <a (click)="out()" class="nav-link" href="#" routerLink="logout" *ngIf="!isLogin">logout</a>
  
              </li>
          </ul>
        
      </div>
</div>
</nav>




